{% extends "!layout.html" %}
{% block extrahead %}
    <link href="{{ pathto("_static/style.css", True) }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
	  integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
	  crossorigin="anonymous">

{% endblock %}
{% block menu %}
{#
The singlehtml builder doesn't handle this toctree call when the
toctree is empty. Skip building this for now.
#}
{% if 'singlehtml' not in builder %}
{% set global_toc = toctree(maxdepth=theme_navigation_depth|int, collapse=theme_collapse_navigation, includehidden=True) %}
{% endif %}
{% if global_toc %}
{{ global_toc }}
{% else %}
<!-- Local TOC -->
<div class="local-toc">{{ toc }}</div>
{% endif %}
<br/>
 <table style="width:100%">
  <tr>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://github.com/olivier-carrere/redaction-technique.org/" title="Historique et branches GitHub">
          <i class="fa fa-git fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="http://fr.linkedin.com/in/carrereolivier/" title="Olivier Carrère - Rédacteur technique sur Linkedin">
          <i class="fa fa-linkedin fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="http://fr.viadeo.com/fr/profile/olivier.carrere/" title="Olivier Carrère - Rédacteur technique sur Viadeo">
          <i class="fa fa-viadeo fa-2x"></i>
        </a>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="http://redaction-technique.org/download/redaction-techniqueorg.pdf" title="Version PDF">
          <i class="fa fa-file-pdf fa-2x"></i>
        </a>
      </p>
    </td>
    <td>
      <p align="center" style="color:#b3b3b3;">
        <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.fr" title="Attribution - Pas d’Utilisation Commerciale 4.0 International (CC BY-NC 4.0)">
          <i class="fa fa-creative-commons fa-2x"></i>
        </a>
      </p>
    </td>
  </tr>
</table> 
{% endblock %}
