{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/jourdain'>
<table>
<p>Entrez votre tirade :</p>
<tr><td><input name='belle' type='TEXT' width='60' value='Belle'></td></tr>
<tr><td><input name='marquise' type='TEXT' value='Marquise'></td></<tr>
<tr><td><input name='vos' type='TEXT' width='60' value='vos'></td></tr>
<tr><td><input name='beaux' type='TEXT' value='beaux'></td></<tr>
<tr><td><input name='yeux' type='TEXT' value='yeux'></td></<tr>
<tr><td><input name='me' type='TEXT' value='me'></td></<tr>
<tr><td><input name='font' type='TEXT' value='font'></td></tr>
<tr><td><input name='mourir' type='TEXT' value='mourir'></td></<tr>
<tr><td><input name='damour' type='TEXT' value='d’amour'></td></tr>
</table>

<p><input value='Jourdainiser' type='SUBMIT'></p>
</form>

{% endblock %}
